@import 'common';
header {
  height: 5em;
  background-color: $primary-color;
}
.action {
  height: 9em;
  .action-button {
    margin: 0 auto;
    margin-top: 7em;
  }
}
.haoduo {
  height: 9em;
  background-color: $primary-color;
  h2 {
    margin-top: 2em;
    color: $primary-color-text;
    text-align: center;
    font-weight: normal;
  }
  p {
    color: $primary-color-text;
    opacity: 0.8;
    text-align: center;
    font-weight: normal;
  }
}
.books {
  height: 9em;
}
footer {
  height: 5em;
  background-color: #212121;
}

